.roller {
  $transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  @apply inline-block relative overflow-hidden;

  span {
    @apply inline-block text-transparent;
    transition: $transition;

    &::selection {
      @apply text-transparent;
    }

    &::after,
    &::before {
      @apply block absolute;
      content: attr(data-text);
      transition: $transition;
      color: var(--color);
    }

    &::after {
      @apply origin-top-left top-[105%] skew-y-[48deg];
    }

    &::before {
      @apply top-0 skew-y-0 origin-bottom-right;
    }
  }

  &:hover {
    span {
      &::after {
        @apply top-0 skew-y-0 origin-top-left;
      }

      &::before {
        @apply origin-bottom-right -top-[105%] skew-y-[48deg];
      }
    }
  }
}
