// Gilroy

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/extrabold.ttf");
  font-weight: 800;
}

// Muli

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/extralight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/extralight-italic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/light-italic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/semibold-italic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Muli";
  src: url("/fonts/muli/bold-italic.ttf");
  font-weight: 700;
  font-style: italic;
}
